.h1
{font-size: 24px;
color: red;}
.img
{text-align:center;}
.image-container {
    position: relative;
    text-align: center;
  }
.image-caption {
    position: absolute;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color:rgba(6, 6, 95, 0.884);
}
.h3
{color:rgb(36, 36, 117) }
.h2
{font-family: Cambria;
text-align:center;
font-size:30pt;
}
.strong
{color:blue;
    font-family: Cambria;
    text-align:center;
    font-size:35pt}
.text
{text-align: center;
font-size: 17px;}
.tag 
{
  text-align:center;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  font-size:16px;
}